

    <div ng-controller="AvengersCtrl">
      <input type="text" ng-model="searchText.$">

      <table>
        <tr ng-repeat="actor in avengers.cast">
          <td>{{ actor.name | lowercase}}  </td>
          <td>{{ actor.character | uppercase}}</td>
        </tr>
      </table>
      <br><br>
    </div>


<!--<div onhover="panel" leave>-->
  <!--I'm content-->
<!--</div>-->
      <!--<br><br>-->

<!--<div ng-controller="AppCtrl">-->
  <!--<div enter="deleteTweets()">Roll over to load more tweets</div>-->
<!--</div>-->
    <!--<br><br>-->

<!--<superhero flight speed strength>Superman</superhero><br>-->
<!--<superhero speed>The Flash</superhero>-->
      <!--<br><br>-->

<clock timezone="MST"></clock>
